
<div class="modal fade" id="ThemMoiCT_TT_KhongTC_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title"><i class="fas fa-file text-info"></i> Thêm chi tiết thanh toán @*- <span id="hidLoaiPhieu"></span>*@</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body ThemMoiCT_TT_KhongTC_Body p-0">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>