<div class="modal fade" id="baoCaoQuyTienVND_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-2">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> Báo cáo quỹ tiền mặt</h6>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <form id="frmTimPhieuPartial" asp-action="Index" method="post" autocomplete="off">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12">
                        <div class="rounded p-2 text-sm" style="padding-bottom:5px; background-color: aliceblue;" id="search">
                            <div class=" row form-group text-sm">

                                <div class="col-md-7">
                                    <label>Từ ngày</label>
                                </div>

                                <div class="col-md-5">
                                    <input class="form-control form-control-sm maskInput" id="txtTuNgay" value="@ViewBag.searchFromDate" />

                                </div>
                            </div>

                            <div class=" row text-sm">
                                <div class="col-md-7">
                                    <label>Đến ngày</label>
                                </div>

                                <div class="col-md-5">
                                    <input class="form-control form-control-sm maskInput" id="txtDenNgay" value="@ViewBag.searchToDate" />

                                </div>
                            </div>

                        </div>
                    </div>

                </form>
                <!-- /.modal-content -->
            </div>

            <div class="modal-footer p-0 pt-1">
                <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-print"></i> Báo cáo</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>