<!-- khachhang capnhat modal-->
<div class="modal fade" id="inChungTuGhiSo_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> In chứng từ ghi sổ</h6>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body inChungTuGhiSo_Modal_Body ">
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- khachhang capnhat modal-->

@*<script>
    $('#btnModalKH_CapNhatCTTT_Dismiss').click(function () {
        $('#khachHang_Modal_CapNhatCTTT').modal('hide');

    })
    $('#btnCloseKHModel_CapNhat_Dismiss').click(function () {
        $('#khachHang_Modal_CapNhatCTTT').modal('hide');

    })

</script>*@