<!-- khachhang capnhat modal-->
<div class="modal fade" id="khachHang_Modal_CapNhatCTTT_KhongTC" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> Chọn khách hàng</h6>
                <button type="button" class="close pr-4 pt-3" @*data-dismiss="modal"*@ id="btnCloseKHModel_CapNhat_Dismiss" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body khachHang_Modal_CapNhatCTTT_KhongTC_Body ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark " @*data-dismiss="modal"*@ id="btnModalKH_CapNhatCTTT_Dismiss" title="Thoát"><i class="fas fa-power-off fa-2x"></i></button>
                @*<button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- khachhang capnhat modal-->

<script>
    $('#btnModalKH_CapNhatCTTT_Dismiss').click(function () {
        $('#khachHang_Modal_CapNhatCTTT_KhongTC').modal('hide');

    })
    $('#btnCloseKHModel_CapNhat_Dismiss').click(function () {
        $('#khachHang_Modal_CapNhatCTTT_KhongTC').modal('hide');

    })

</script>