<!-- khachhang capnhat modal-->
<div class="modal fade" id="theoDoiTUNoiBo_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> Tài khoãn 141</h6>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body theoDoiTUNoiBo_Modal_Body ">
            </div>

            <div class="modal-footer pt-1 pb-1 btn-block btn-group">
                <button type="button" class="btn btn-primary" id="btnPrintSelect">In</button>
                <button type="button" class="btn btn-success" id="btnPrintSelect_InTatCa">In tất cả</button>
                <button type="button" class="btn btn-info" id="btnPrintSelect_TatCa1Sheet">Tất cả 1 sheet</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- khachhang capnhat modal-->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
   
    //$('#btnCloseKHModel_CapNhat_Dismiss').click(function () {
    //    $('#khachHang_Modal_CapNhatCTTT').modal('hide');

    //})

</script>