<!-- khachhang themmoi modal-->
<div class="modal fade" id="tonQuy_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> Danh sách</h6>
                <button type="button" class="close pr-4 pt-3" @*data-dismiss="modal"*@ id="btnCloseTonQuyModel_Dismiss" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body tonQuy_Modal_Body ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark " @*data-dismiss="modal"*@ id="btnModal_TonQuy_Dismiss" title="Thoát"><i class="fas fa-power-off"></i></button>
                @*<button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- khachhang themmoi modal-->

<script>
    $('#btnModal_TonQuy_Dismiss').click(function () {
        $('#tonQuy_Modal').modal('hide');
        
    })
    $('#btnCloseTonQuyModel_Dismiss').click(function () {
        $('#tonQuy_Modal').modal('hide');
    })
    
</script>