<ul class="navbar-nav">
    <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
    </li>
    @*<li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>*@
    <li class="nav-item dropdown">
        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Báo cáo</a>
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="#" class="dropdown-item">Báo cáo quỹ tiền VND </a></li>
            <li><a href="#" class="dropdown-item">Báo cáo quỹ tiền ngoại tệ</a></li>

            <li class="dropdown-divider"></li>

            <li><a href="#" class="dropdown-item">Theo dõi tạm ứng nội bộ TK 141</a></li>
            <li><a href="#" class="dropdown-item">Thu đổi ngoại tệ</a></li>

            <li class="dropdown-divider"></li>

            <li><a href="javascript:;" class="dropdown-item" id="btnInChungTuGhiSo">In CTGS do thanh toán tạm ứng</a></li>
            <!-- Level two dropdown-->
            @*<li class="dropdown-submenu dropdown-hover">
                    <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                    <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                        <li>
                            <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                            <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="dropdown-item">level 2</a></li>
                        <li><a href="#" class="dropdown-item">level 2</a></li>
                    </ul>
                </li>*@
            <!-- End Level two -->
        </ul>
    </li>
</ul>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    
    $('#btnInChungTuGhiSo').off('click').on('click', function () {
        InChungTungGhiSo();
    })

    function InChungTungGhiSo(tuNgay, denNgay) {

        $.get('/BaoCaos/InChungTuGhiSo_Partial', { searchFromDate: tuNgay, searchToDate: denNgay }, function (data) {

            if (!data) {
                toastr.warning("Find by date error!", "Thông báo");
            }
            else {

                $('#inChungTuGhiSo_Modal').modal('show');
                $('.inChungTuGhiSo_Modal_Body').html(data);
                $('#inChungTuGhiSo_Modal').draggable();
            }

        })
    }
</script>