@model KVCTPCTViewModel
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    @*<div class="card">*@
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm CT phiếu</h3>

        @*<div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>*@
    </div>
    <div class="card-body p-0">

        <form method="post" autocomplete="off" id="frm_KVCTPCT_Create" enctype="multipart/form-data">
            <div class="pr-4 pl-4 text-sm">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="KVCTPTC.KVPTCId" />

                <div class="form-group row">

                    <div class="col-md-9">
                        <label asp-for="KVCTPTC.DienGiaiP" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                        <input asp-for="KVCTPTC.DienGiaiP" class="form-control form-control-sm " id="txtDienGiaiP" />
                        <span asp-validation-for="KVCTPTC.DienGiaiP" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="KVCTPTC.SoXe" class="control-label"></label>
                        <input asp-for="KVCTPTC.SoXe" class="form-control form-control-sm" id="txtSoXe" />
                        <span asp-validation-for="KVCTPTC.SoXe" class="text-danger"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="KVCTPTC.HTTC" class="control-label"></label>
                        <input asp-for="KVCTPTC.HTTC" class="form-control form-control-sm" id="txtHTTC" />
                        <span asp-validation-for="KVCTPTC.HTTC" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.SoTienNT" class="control-label"></label>
                        <input asp-for="KVCTPTC.SoTienNT" class="form-control form-control-sm numbers" id="txtSoTienNT" />
                        <span asp-validation-for="KVCTPTC.SoTienNT" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="KVCTPTC.LoaiTien" class="control-label "></label>
                        <select asp-for="KVCTPTC.LoaiTien" class="form-control form-control-sm"
                                asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe">
                        </select>
                        <span asp-validation-for="KVCTPTC.LoaiTien" class="text-danger"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="KVCTPTC.TyGia" class="control-label "></label>
                        <input asp-for="KVCTPTC.TyGia" class="form-control form-control-sm numbers" id="txtTyGia" />
                        <span asp-validation-for="KVCTPTC.TyGia" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.SoTien" class="control-label"></label>
                        <input asp-for="KVCTPTC.SoTien" class="form-control form-control-sm " readonly id="txtSoTien" />
                        <span asp-validation-for="KVCTPTC.SoTien" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.TKNo" class="control-label"></label>
                        <input asp-for="KVCTPTC.TKNo" class="form-control form-control-sm" id="txtTKNo" />
                        <span asp-validation-for="KVCTPTC.TKNo" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-md-9">
                        <label asp-for="KVCTPTC.DienGiai" class="control-label"></label>
                        <input asp-for="KVCTPTC.DienGiai" class="form-control form-control-sm" id="txtDienGiai" />
                        <span asp-validation-for="KVCTPTC.DienGiai" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.MaKhNo" class="control-label "></label>
                        @*<select asp-for="KVCTPTC.LoaiTien" class="form-control form-control-sm"
                                    asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe">
                            </select>*@
                        <input asp-for="KVCTPTC.MaKhNo" class="form-control form-control-sm" id="txtMaKhNo" />
                        <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.TKCo" class="control-label"></label>
                        <input asp-for="KVCTPTC.TKCo" class="form-control form-control-sm" id="txtTKCo" />
                        <span asp-validation-for="KVCTPTC.TKCo" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.MaKhCo" class="control-label "></label>
                        @*<select asp-for="KVCTPTC.LoaiTien" class="form-control form-control-sm"
                                    asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe">
                            </select>*@
                        <input asp-for="KVCTPTC.MaKhCo" class="form-control form-control-sm" id="txtMaKhCo" />
                        <span asp-validation-for="KVCTPTC.MaKhCo" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.Sgtcode" class="control-label"></label>
                        <input asp-for="KVCTPTC.Sgtcode" class="form-control form-control-sm" id="txtSgtcode" />
                        <span asp-validation-for="KVCTPTC.Sgtcode" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPTC.NoQuay" class="control-label"></label>
                        <input asp-for="KVCTPTC.NoQuay" class="form-control form-control-sm" id="txtNoQuay" />
                        <span asp-validation-for="KVCTPTC.NoQuay" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" id="btnKVCTPCTCreatePartial_Save"><i class="fas fa-save"></i> Save</button>
                    <button type="button" class="btn btn-success btn-sm" id="btnKVCTPCTCreatePartial_Back"><i class="fas fa-backward "></i> Back</button>
                </div>
            </div>
        </form>



    </div>
    <!-- /.card-body -->
    @*</div>*@
    <!-- /.card -->

</section>
<!-- /.content -->
@*<script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>*@

<script src="~/js/Admin/Home/indexController.js"></script>

<!-- select2 and multi select2 (bootstrap4)-->
@*<script>
        //$('#txtMaKH').select2()
        $('.select2').select2({
        })
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})

    </script>*@

<!-- Validation -->

<script>

    $('#frm_KVCTPCT_Create').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtSgtcode').rules('add', {
        required: true,
        minlength: 17,
        messages: {
            //required: "Chủ đề không được để trống"
        }
    });

    // sotien

    $('#txtSoTienNT').blur(function () {

        soTienNT = $('#txtSoTienNT').val();
        tyGia = $('#txtTyGia').val();

        $.ajax({
            type: "GET",
            url: "/KVCTPCTs/TinhSoTien",
            data: { soTienNT: soTienNT, tyGia: tyGia },
            dataType: "json",
            success: function (response) {
                if (response.status) {
                    soTien = response.soTien;
                    $('#txtSoTien').val(numeral(soTien).format('0,0'));
                }
                else {
                    toastr.error(response.message);

                }
            }
        });

    })

    $('#txtTyGia').blur(function () {

        soTienNT = $('#txtSoTienNT').val();
        tyGia = $('#txtTyGia').val();

        $.ajax({
            type: "GET",
            url: "/KVCTPCTs/TinhSoTien",
            data: { soTienNT: soTienNT, tyGia: tyGia },
            dataType: "json",
            success: function (response) {
                if (response.status) {
                    soTien = response.soTien;
                    $('#txtSoTien').val(numeral(soTien).format('0,0'));
                }
                else {
                    toastr.error(response.message);

                }
            }
        });

    })

    // sotien

    $('#btnKVCTPCTCreatePartial_Save').off('click').on('click', function () {
        debugger

        if ($('#frm_KVCTPCT_Create').valid()) {
            var kVCTPCT = $('#frm_KVCTPCT_Create').serialize();
            $.ajax({
                type: "POST",
                url: "/KVCTPCTs/KVCTPCT_Create_Partial",
                data: kVCTPCT,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới chi tiết thành công!'); // toastr in admin/tour/indexController.js

                        $('#KVCTPCT_Create_Partial').hide(500);
                        debugger
                        soCT = '@Model.KVCTPTC.KVPTCId';

                            indexController.Load_KVCTPCTPartial(soCT);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });

    // btnKVCTPCTCreatePartial_Back
    $('#btnKVCTPCTCreatePartial_Back').off('click').on('click', function () {
        $('#KVCTPCT_Create_Partial').hide(500);
        
        $('#KVCTPCT_Tbl').show(500);

        });
</script>
