@model HomeViewModel


<form id="frmLayDataCashierPartial" asp-action="HuyTour" method="post" autocomplete="off">

    <input type="hidden" asp-for="KVPCT.SoCT" />
    <input type="hidden" asp-for="StrUrl" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row text-sm">

        <div class="col-md-6 ">
            <label class="control-labels">Báo cao số</label>
            <input name="baoCaoSo" class="form-control form-control-sm" id="txtBaoCaoSo" />
        </div>

        <div class="col-md-6">
            <label class="control-label">Tk cong nơ</label>
            <select name="tkCongNo" class="form-control select2 form-control-sm"
                    asp-items="@(new SelectList(Model.TkCongNos, "Tkhoan", "Tkhoan"))" id="ddlTkCongNo">
            </select>
            
        </div>

    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>
    </div>
</form>
<!-- /.modal-content -->

<!-- Validation -->
<script>

    $('#frmHuyTourPartial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtNgayHuyTour').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

</script>